* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-bg-color: #7be6e0;
    --darker-shinee-color: #1ca7a0;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: var(--header-bg-color);
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
}

h1 {
    font-size: medium;
    font-weight: 150;
    padding-top: .5rem;
}

nav a:hover {
    color: white;
}

div a {
    font-size: medium;
    font-weight: 300;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 850;
    width: 100%;
}

h2,
h3,
h4 {
    background-color: #d4f8f6;
    font-size: large;
    text-align: center;
    margin-bottom: .25rem;
    border-bottom: 1px solid var(--darker-shinee-color);
}

p {
    padding-top: .25rem;
    padding-bottom: .5rem;
    padding-left: .35rem;
    padding-right: .35rem;
}

section {
    text-align: center;
    padding: 20px;
    border: 1px solid var(--darker-shinee-color);
}

footer {
    background-color: var(--header-bg-color);
    max-width: 100%;
    text-align: center;
    border-top: 3px solid var(--darker-shinee-color);
}


/* Class Selectors */

.non-nav-header {
    text-align: center;
    max-height: 150px;
}

.non-nav-header img {
    max-height: 150px;
    padding-bottom: 2rem;
}

.spotify {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    right: 1rem;
    padding-left: .5rem;
}

.wiki {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: black;
    border-radius: 25%;
}

.wiki a {
    color: var(--header-bg-color);
}

/*Background Image*/
.background-image {
    position: relative;
    padding-left: 1rem;
}

.background-image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

/*Header Navigation*/
.header-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: black;
    color: var(--header-bg-color);
}

.header-nav a {
    display: none;
    text-align: center;
    text-decoration: none;
    color: var(--header-bg-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    padding: .5rem;
}

.open a {
    display: block;
}

#menu {
    border: 0;
    background: none;
    color: white;
    position: absolute;
}

#menu::before {
    content: "☰";
    font-size: 3rem;
}

#menu.open::before {
    content: "X";
}


/*Form & Email*/
.form {
    padding-top: 2rem;
}

.form legend {
    padding: .5rem;
    background-color: var(--darker-shinee-color);
    border-radius: 25%;
    color: black;
    margin: .25rem;
    font-size: x-large;
}

.email label,
.first-name label,
.last-name label {
    text-align: left;
    font-size: medium;
    background-color: var(--header-bg-color);
    border-radius: 25%;
    padding-left: .5rem;
}

.email,
.first-name,
.last-name {
    display: grid;
    padding: .75rem;
}

.email input,
.first-name input,
.last-name input {
    min-height: 54px;
    padding-left: .5rem;
    font-size: large;
}

.asterisk {
    color: red;
    font-weight: bold;
}

/*Submit Button*/

.submit-button {
    padding-bottom: .5rem;
}

#submit {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #cccccc;
    color: #666;
    font-size: medium;
    border: none;
    cursor: not-allowed;
    margin: .25rem;
    min-height: 44px;
}

#submit.valid-email {
    background-color: var(--darker-shinee-color);
    color: white;
    border: 1px solid black;
    cursor: pointer;
}